.b_navbar {
  position: fixed;
  border-top: .01rem solid #efefef;
  bottom: 0;
  width: 100%;
  height: .98rem;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fafafa;
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: .8rem;
    i {
      font-size: .38rem;
    }
    span {
      padding-top: 2px;
      color: #666;
      font-size: .24rem;
    }
    .cartNum{
      position: absolute;
      right: 0;
      top: -.04rem;
      color: #fff;
      padding: 0 .09rem;
      font-size: .12rem;
      border-radius: .2rem;
      background-color: #b4282d;
      transform: scale(.8);
      text-align: center;
      /* line-height: .37333rem; */
    }
  }
  .active span {
    color: #b4282d;
  }
  .active i {
    color: #b4282d;
  }
}

